<div class="jumbotron bg-info text-center" >
        <h1>Github Search Application</h1>
        <p>Search with us!</p>
    </div>
    <form class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search git with username"[(ngModel)]="username" name = "username" (keyup)="findProfile()">
        </div>
    </form>
    <div *ngIf="profile">
        <div class="card card-default">
            <div class="card-header">
                {{profile.login}}<small>({{profile.login}})</small>
                <span *ngIf="profile.company">, Works at {{profile.company}}</span>
                {{profile.location}}, &nbsp;
                Created on: {{  profile.created_at|date}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{profile.avatar_url}}" class="circle-img rounded-circle" alt="Profile Image">
                    </div>
                    <div class="col-md-5" id="view">
                        <ul class="list-group">
                            <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                            <li class="list-group-item" *ngIf="profile.hireable">Available for hire</li>
                            <li class="list-group-item" *ngIf="profile.blog"> <a href="{{profile.blog}}" target="_blank" rel="noopener noreferrer">{{profile.blog}}</a></li>
                            <li class="list-group-item" *ngIf="profile.email"><a href="emailto:{{profile.email}}">{{profile.email}}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div>
                            <p>
                                <span class="label bg-warning">{{profile.followers }}Followers</span>
                                <span class="label bg-primary">Following{{ profile.following}}</span>
                                <span class="label bg-success">{{profile.public_gists }}Gists</span>
                                <span class="label bg-info">{{profile.public_repos }}Repos</span>
                            </p>
                            <p><a href="{{profile.html_url}}" target="_blank"  class="btn btn-success btn-sm">View profile on github</a></p>
                            <div class="card card-default" id="repo">
                                <div class="card-header">
                                    <h3 class="card-title">Pulic Repositories</h3>
                                </div>
                                <div class="card-body" *ngFor="let repo of repos">
                                    <p class="clearfix">
                                        {{repo.name}} <a href="{{repo.html_url}}" class="btn btn-sm btn-warning  float-right" target="_blank">View this project on github</a>
                                    </p>
                                     <p>{{repo.description}}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>
    <div class="card-footer">
        &copy;Wycliffe 2020
    </div>

