.card-footer{
    text-align-last: center;
}
.circle-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .card-header h3{
    text-align: center;
  }
  
  .circle-img img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
  }
  .label{
    margin-right: 10px;
    border-radius: 2px;
  }
  #repo{
    width: 400px;
  }
  