.card-footer{
    text-align-last: center;
}
.circle-img {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
  
  .circle-img img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
  }