.card-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lavender;
  color: black;
  height: 10vh;
  text-align: center;
}
.circle-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .card-header{
    border-radius:5px;
  }
  .card-header h3{
    text-align: center;
  }
  
  .circle-img img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 5%;
  }
  .label{
    margin-right: 10px;
    border-radius: 2px;
  }
  #repo{
    width: 350px;
  }
  #view{
    padding-left: 5%;
  }
  .search-form{
    padding-top:30px;
  }
  h1{
   color:black;
  }
  button{
    margin-top: 5px;
    text-align: center;
    margin-left: 40%;
}